@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android" ;
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}
:root {
    --cor0:#f8ebe7;
    --cor1:#e9c9b1;
    --cor2:#d3a185;
    --cor3:#b3735e;
    --cor4:#8f4a39;
    --cor5:#6b2d1e;


    --fonte-padrao: Arial, Verdana, Helvetica ,sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}


body{
    background-image: url(../117459.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5) );
    min-height: 100px;
    text-align: center;
    padding-top:15px;
}

header > h1 {
    color:white ;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    font-weight: normal;
}

header > p {
    color: white;
    font-size: 1.2em;
    padding-bottom: 30px;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    font-weight: bold;
}

nav {
    background-color: var(--cor5);
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

nav > a {
    font-size: 1.7em;
    padding: 30px;
    color: var(--cor2);
    font-weight: bolder;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    text-decoration: none;
    padding-bottom: 35px;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor2);
    padding: 5px 30px;
    border-radius: 3px;
    transition-duration:0.5s;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 3px;
}

main {
    background-color: white;
    min-width: 300px ;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
}


main h1 {
    color: var(--cor);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-weight: bolder;
    padding: 10px;
    border-radius: 3px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.7em;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.473);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}


footer {

    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

footer > p > a {
    padding: 10px;
    color: var(--cor1);
    font-weight: bolder;
    text-shadow: 1.3px 1.3px 0px rgba(0, 0, 0, 0.473);
    text-decoration: underline;
}

footer a:hover {
        background-color: var(--cor2);
        color: var(--cor4);
        padding:5px 10px;
        border-radius: 3px;
        transition-duration: 0.5s;
}

/* Estilos para o botão de alternância */
#dark-mode-toggle {
    font-weight: bolder;
    background-color: transparent;
    color: #000000;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 40px;
  }
  

/* Estilo para o modo escuro */
.dark-mode {
    --cor6:#111;
    --cor7:#222;
    --cor8:#333;
    --cor9:#444;
    --cor10:#555;
    --cor11:#666;
    --cor12:#e4f0e1;
    --cor13:#c4d8b6;
    --cor14:#a0be8a;
    --cor15:#7da162;
    --cor16:#5c8740;
    --cor17:#407029;
    --cor18: #243f18;

    --fonte-padrao: Arial, Verdana, Helvetica ,sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;

    /* Alterando a cor de fundo do body para preto */
    background-color: var(--cor6);
}

/* Alterando as cores do header para preto e substituindo o gradiente */
.dark-mode header {
    background-image: linear-gradient(to bottom, var(--cor18), var(--cor17) );
}

/* Alterando a cor do texto do header para branco */
.dark-mode header > h1,
.dark-mode header > p {
    color: white;
}

/* Alterando a cor de fundo do nav para preto e a cor dos links para branco */
.dark-mode nav {
    background-color: var(--cor17);
}

.dark-mode nav > a {
    color: var(--cor14);
}

.dark-mode nav > a:hover {
    background-color: var(--cor14);
    color: var(--cor17);
}
/* Alterando a cor de fundo da div.video para preto */
.dark-mode div.video {
    background-color: var(--cor17);
}

/* Alterando a cor de fundo do main para preto e a cor do texto para branco */
.dark-mode main {
    background-color: var(--cor7);
}

.dark-mode main h1 {
    background-image: linear-gradient(to right, var(--cor17), var(--cor7) );
    color: var(--cor13);
}

.dark-mode main p {
    color: white;
}

/* Alterando a cor de fundo do aside para preto e a cor do texto para branco */
.dark-mode aside {
    background-color: var(--cor0);
}

.dark-mode aside h3 {
    background-color: var(--cor17);
    color: var(--cor13);
}

.dark-mode footer p a {
    color:var(--cor13) ;
}

.dark-mode footer a:hover {
    background-color: var(--cor14);
    color: var(--cor17);
}
