@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: "Android" ;
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}
:root {
    --cor0:#f8ebe7;
    --cor1:#e9c9b1;
    --cor2:#d3a185;
    --cor3:#b3735e;
    --cor4:#8f4a39;
    --cor5:#6b2d1e;


    --fonte-padrao: Arial, Verdana, Helvetica ,sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android:'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor5) );
    min-height: 100px;
    text-align: center;
    padding-top:15px;
}

header > h1 {
    color:white ;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    font-weight: normal;
}

header > p {
    color: white;
    font-size: 1.2em;
    padding-bottom: 30px;
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    font-weight: bold;
}

nav {
    background-color: var(--cor5);
    padding: 5px;
    text-align: center;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
}

nav > a {
    padding: 30px;;
    color: var(--cor2);
    font-weight: bolder;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
    text-decoration: none;
    padding-bottom: 35px;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor2);
    padding: 5px 30px;
    border-radius: 3px;
    transition-duration:0.5s;
}

div.video {
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 3px;
}


main {
    background-color: white;
    min-width: 300px ;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(209, 61, 61, 0.459);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, var(--cor2), transparent);
    font-weight: bolder;
    padding: 10px;
    border-radius: 3px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
    line-height: 1.7em;
}


main a {
    padding: 15px;
    color: var(--cor4);
    font-weight: bolder;
    text-shadow: 1.3px 1.3px 0px rgba(0, 0, 0, 0.473);
    text-decoration: underline;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.473);
}

aside h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside iframe {
    border-radius: 10px;
}


footer {
    background-color: var(--cor3);
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

footer > p > a {
    padding: 10px;
    color: var(--cor1);
    font-weight: bolder;
    text-shadow: 1.3px 1.3px 0px rgba(0, 0, 0, 0.473);
    text-decoration: underline;
}

footer a:hover {
        background-color: var(--cor2);
        color: var(--cor4);
        padding:5px 10px;
        border-radius: 3px;
        transition-duration: 0.5s;
}